In [1]:
import pandas as pd

In [2]:
income = pd.read_csv('../../data/Income_5Y2018.S1901_data_with_overlays_2020-10-17T192035.csv')

In [3]:
# load income data file
income.shape

(2347, 130)

In [4]:
# check size of data
income.head()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali...",1596,88,1000,140,643,120,596,115,...,(X),(X),(X),(X),(X),(X),(X),(X),43.1,(X)
2,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali...",1256,79,906,92,758,121,350,100,...,(X),(X),(X),(X),(X),(X),(X),(X),45.7,(X)
3,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali...",2321,79,1531,176,995,202,790,198,...,(X),(X),(X),(X),(X),(X),(X),(X),41.4,(X)
4,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali...",1294,54,881,107,607,99,413,103,...,(X),(X),(X),(X),(X),(X),(X),(X),30.0,(X)

In [5]:
# see all the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
income.sample()

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,S1901_C01_002E,S1901_C01_002M,S1901_C02_002E,S1901_C02_002M,S1901_C03_002E,S1901_C03_002M,S1901_C04_002E,S1901_C04_002M,S1901_C01_003E,S1901_C01_003M,S1901_C02_003E,S1901_C02_003M,S1901_C03_003E,S1901_C03_003M,S1901_C04_003E,S1901_C04_003M,S1901_C01_004E,S1901_C01_004M,S1901_C02_004E,S1901_C02_004M,S1901_C03_004E,S1901_C03_004M,S1901_C04_004E,S1901_C04_004M,S1901_C01_005E,S1901_C01_005M,S1901_C02_005E,S1901_C02_005M,S1901_C03_005E,S1901_C03_005M,S1901_C04_005E,S1901_C04_005M,S1901_C01_006E,S1901_C01_006M,S1901_C02_006E,S1901_C02_006M,S1901_C03_006E,S1901_C03_006M,S1901_C04_006E,S1901_C04_006M,S1901_C01_007E,S1901_C01_007M,S1901_C02_007E,S1901_C02_007M,S1901_C03_007E,S1901_C03_007M,S1901_C04_007E,S1901_C04_007M,S1901_C01_008E,S1901_C01_008M,S1901_C02_008E,S1901_C02_008M,S1901_C03_008E,S1901_C03_008M,S1901_C04_008E,S1901_C04_008M,S1901_C01_009E,S1901_C01_009M,S1901_C02_009E,S1901_C02_009M,S1901_C03_009E,S1901_C03_009M,S1901_C04_009E,S1901_C04_009M,S1901_C01_010E,S1901_C01_010M,S1901_C02_010E,S1901_C02_010M,S1901_C03_010E,S1901_C03_010M,S1901_C04_010E,S1901_C04_010M,S1901_C01_011E,S1901_C01_011M,S1901_C02_011E,S1901_C02_011M,S1901_C03_011E,S1901_C03_011M,S1901_C04_011E,S1901_C04_011M,S1901_C01_012E,S1901_C01_012M,S1901_C02_012E,S1901_C02_012M,S1901_C03_012E,S1901_C03_012M,S1901_C04_012E,S1901_C04_012M,S1901_C01_013E,S1901_C01_013M,S1901_C02_013E,S1901_C02_013M,S1901_C03_013E,S1901_C03_013M,S1901_C04_013E,S1901_C04_013M,S1901_C01_014E,S1901_C01_014M,S1901_C02_014E,S1901_C02_014M,S1901_C03_014E,S1901_C03_014M,S1901_C04_014E,S1901_C04_014M,S1901_C01_015E,S1901_C01_015M,S1901_C02_015E,S1901_C02_015M,S1901_C03_015E,S1901_C03_015M,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
716,1400000US06037228500,"Census Tract 2285, Los Angeles County, California",1164,59,1003,106,335,108,161,83,10.1,5.7,11.6,6.1,0.0,9.9,38.5,25.9,1.6,1.6,2.7,3.3,0.0,9.9,11.8,13.3,20.2,8.5,21.5,9.5,12.8,14.2,6.2,9.8,22.9,9.0,16.7,7.8,27.2,17.2,31.1,23.0,11.8,6.0,13.7,7.7,3.0,4.5,0.0,19.4,16.7,6.7,17.3,7.3,32.2,17.4,12.4,19.1,6.7,4.6,7.8,5.4,14.3,13.5,0.0,19.4,3.6,2.7,4.2,3.2,3.3,5.8,0.0,19.4,0.0,3.0,0.0,3.4,0.0,9.9,0.0,19.4,6.5,5.3,4.6,5.0,7.2,11.4,0.0,19.4,33259,3416,32888,6169,53482,25709,-,**,52595,12568,49561,11846,N,N,19621,10273,58.7,(X),(X),(X),(X),(X),(X),(X),(X),(X),62.8,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),21.7,(X)

In [7]:
# check the data types
income.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2347 entries, 0 to 2346
Data columns (total 130 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   GEO_ID          2347 non-null   object
 1   NAME            2347 non-null   object
 2   S1901_C01_001E  2347 non-null   object
 3   S1901_C01_001M  2347 non-null   object
 4   S1901_C02_001E  2347 non-null   object
 5   S1901_C02_001M  2347 non-null   object
 6   S1901_C03_001E  2347 non-null   object
 7   S1901_C03_001M  2347 non-null   object
 8   S1901_C04_001E  2347 non-null   object
 9   S1901_C04_001M  2347 non-null   object
 10  S1901_C01_002E  2347 non-null   object
 11  S1901_C01_002M  2347 non-null   object
 12  S1901_C02_002E  2347 non-null   object
 13  S1901_C02_002M  2347 non-null   object
 14  S1901_C03_002E  2347 non-null   object
 15  S1901_C03_002M  2347 non-null   object
 16  S1901_C04_002E  2347 non-null   object
 17  S1901_C04_002M  2347 non-null   object
 18  S1901_C01_003E  2347 non-null   object
 19  S1901_C01_003M  2347 non-null   object
 20  S1901_C02_003E  2347 non-null   object
 21  S1901_C02_003M  2347 non-null   object
 22  S1901_C03_003E  2347 non-null   object
 23  S1901_C03_003M  2347 non-null   object
 24  S1901_C04_003E  2347 non-null   object
 25  S1901_C04_003M  2347 non-null   object
 26  S1901_C01_004E  2347 non-null   object
 27  S1901_C01_004M  2347 non-null   object
 28  S1901_C02_004E  2347 non-null   object
 29  S1901_C02_004M  2347 non-null   object
 30  S1901_C03_004E  2347 non-null   object
 31  S1901_C03_004M  2347 non-null   object
 32  S1901_C04_004E  2347 non-null   object
 33  S1901_C04_004M  2347 non-null   object
 34  S1901_C01_005E  2347 non-null   object
 35  S1901_C01_005M  2347 non-null   object
 36  S1901_C02_005E  2347 non-null   object
 37  S1901_C02_005M  2347 non-null   object
 38  S1901_C03_005E  2347 non-null   object
 39  S1901_C03_005M  2347 non-null   object
 40  S1901_C04_005E  2347 non-null   object
 41  S1901_C04_005M  2347 non-null   object
 42  S1901_C01_006E  2347 non-null   object
 43  S1901_C01_006M  2347 non-null   object
 44  S1901_C02_006E  2347 non-null   object
 45  S1901_C02_006M  2347 non-null   object
 46  S1901_C03_006E  2347 non-null   object
 47  S1901_C03_006M  2347 non-null   object
 48  S1901_C04_006E  2347 non-null   object
 49  S1901_C04_006M  2347 non-null   object
 50  S1901_C01_007E  2347 non-null   object
 51  S1901_C01_007M  2347 non-null   object
 52  S1901_C02_007E  2347 non-null   object
 53  S1901_C02_007M  2347 non-null   object
 54  S1901_C03_007E  2347 non-null   object
 55  S1901_C03_007M  2347 non-null   object
 56  S1901_C04_007E  2347 non-null   object
 57  S1901_C04_007M  2347 non-null   object
 58  S1901_C01_008E  2347 non-null   object
 59  S1901_C01_008M  2347 non-null   object
 60  S1901_C02_008E  2347 non-null   object
 61  S1901_C02_008M  2347 non-null   object
 62  S1901_C03_008E  2347 non-null   object
 63  S1901_C03_008M  2347 non-null   object
 64  S1901_C04_008E  2347 non-null   object
 65  S1901_C04_008M  2347 non-null   object
 66  S1901_C01_009E  2347 non-null   object
 67  S1901_C01_009M  2347 non-null   object
 68  S1901_C02_009E  2347 non-null   object
 69  S1901_C02_009M  2347 non-null   object
 70  S1901_C03_009E  2347 non-null   object
 71  S1901_C03_009M  2347 non-null   object
 72  S1901_C04_009E  2347 non-null   object
 73  S1901_C04_009M  2347 non-null   object
 74  S1901_C01_010E  2347 non-null   object
 75  S1901_C01_010M  2347 non-null   object
 76  S1901_C02_010E  2347 non-null   object
 77  S1901_C02_010M  2347 non-null   object
 78  S1901_C03_010E  2347 non-null   object
 79  S1901_C03_010M  2347 non-null   object
 80  S1901_C04_010E  2347 non-null   object
 81  S1901_C04_010M  2347 non-null   object
 82  S1901_C01_011E  2347 non-null   object
 83  S1901_C01_011M  2347 non-null   object
 84  S1901_C02_011E  2347 non-null   object
 85  S1901_C02_011M  2347 non-null   object
 86  S1901_C03_011E  2347 non-null   object
 87  S1901_C03_011M  2347 non-null   object
 88  S1901_C04_011E  2347 non-null   object
 89  S1901_C04_011M  2347 non-null   object
 90  S1901_C01_012E  2347 non-null   object
 91  S1901_C01_012M  2347 non-null   object
 92  S1901_C02_012E  2347 non-null   object
 93  S1901_C02_012M  2347 non-null   object
 94  S1901_C03_012E  2347 non-null   object
 95  S1901_C03_012M  2347 non-null   object
 96  S1901_C04_012E  2347 non-null   object
 97  S1901_C04_012M  2347 non-null   object
 98  S1901_C01_013E  2347 non-null   object
 99  S1901_C01_013M  2347 non-null   object
 100 S1901_C02_013E  2347 non-null   object
 101 S1901_C02_013M  2347 non-null   object
 102 S1901_C03_013E  2347 non-null   object
 103 S1901_C03_013M  2347 non-null   object
 104 S1901_C04_013E  2347 non-null   object
 105 S1901_C04_013M  2347 non-null   object
 106 S1901_C01_014E  2347 non-null   object
 107 S1901_C01_014M  2347 non-null   object
 108 S1901_C02_014E  2347 non-null   object
 109 S1901_C02_014M  2347 non-null   object
 110 S1901_C03_014E  2347 non-null   object
 111 S1901_C03_014M  2347 non-null   object
 112 S1901_C04_014E  2347 non-null   object
 113 S1901_C04_014M  2347 non-null   object
 114 S1901_C01_015E  2347 non-null   object
 115 S1901_C01_015M  2347 non-null   object
 116 S1901_C02_015E  2347 non-null   object
 117 S1901_C02_015M  2347 non-null   object
 118 S1901_C03_015E  2347 non-null   object
 119 S1901_C03_015M  2347 non-null   object
 120 S1901_C04_015E  2347 non-null   object
 121 S1901_C04_015M  2347 non-null   object
 122 S1901_C01_016E  2347 non-null   object
 123 S1901_C01_016M  2347 non-null   object
 124 S1901_C02_016E  2347 non-null   object
 125 S1901_C02_016M  2347 non-null   object
 126 S1901_C03_016E  2347 non-null   object
 127 S1901_C03_016M  2347 non-null   object
 128 S1901_C04_016E  2347 non-null   object
 129 S1901_C04_016M  2347 non-null   object
dtypes: object(130)
memory usage: 2.3+ MB

In [8]:
income.GEO_ID.head()

0                      id
1    1400000US06037101110
2    1400000US06037101122
3    1400000US06037101210
4    1400000US06037101220
Name: GEO_ID, dtype: object

In [169]:
# check how many columns have all null values
income.columns[income.isna().all()].tolist()

[]

In [10]:
# list columns
columns = list(income)

In [11]:
columns

['GEO_ID',
 'NAME',
 'S1901_C01_001E',
 'S1901_C01_001M',
 'S1901_C02_001E',
 'S1901_C02_001M',
 'S1901_C03_001E',
 'S1901_C03_001M',
 'S1901_C04_001E',
 'S1901_C04_001M',
 'S1901_C01_002E',
 'S1901_C01_002M',
 'S1901_C02_002E',
 'S1901_C02_002M',
 'S1901_C03_002E',
 'S1901_C03_002M',
 'S1901_C04_002E',
 'S1901_C04_002M',
 'S1901_C01_003E',
 'S1901_C01_003M',
 'S1901_C02_003E',
 'S1901_C02_003M',
 'S1901_C03_003E',
 'S1901_C03_003M',
 'S1901_C04_003E',
 'S1901_C04_003M',
 'S1901_C01_004E',
 'S1901_C01_004M',
 'S1901_C02_004E',
 'S1901_C02_004M',
 'S1901_C03_004E',
 'S1901_C03_004M',
 'S1901_C04_004E',
 'S1901_C04_004M',
 'S1901_C01_005E',
 'S1901_C01_005M',
 'S1901_C02_005E',
 'S1901_C02_005M',
 'S1901_C03_005E',
 'S1901_C03_005M',
 'S1901_C04_005E',
 'S1901_C04_005M',
 'S1901_C01_006E',
 'S1901_C01_006M',
 'S1901_C02_006E',
 'S1901_C02_006M',
 'S1901_C03_006E',
 'S1901_C03_006M',
 'S1901_C04_006E',
 'S1901_C04_006M',
 'S1901_C01_007E',
 'S1901_C01_007M',
 'S1901_C02_007E',
 'S1901_C02_007M',
 'S1901_C03_007E',
 'S1901_C03_007M',
 'S1901_C04_007E',
 'S1901_C04_007M',
 'S1901_C01_008E',
 'S1901_C01_008M',
 'S1901_C02_008E',
 'S1901_C02_008M',
 'S1901_C03_008E',
 'S1901_C03_008M',
 'S1901_C04_008E',
 'S1901_C04_008M',
 'S1901_C01_009E',
 'S1901_C01_009M',
 'S1901_C02_009E',
 'S1901_C02_009M',
 'S1901_C03_009E',
 'S1901_C03_009M',
 'S1901_C04_009E',
 'S1901_C04_009M',
 'S1901_C01_010E',
 'S1901_C01_010M',
 'S1901_C02_010E',
 'S1901_C02_010M',
 'S1901_C03_010E',
 'S1901_C03_010M',
 'S1901_C04_010E',
 'S1901_C04_010M',
 'S1901_C01_011E',
 'S1901_C01_011M',
 'S1901_C02_011E',
 'S1901_C02_011M',
 'S1901_C03_011E',
 'S1901_C03_011M',
 'S1901_C04_011E',
 'S1901_C04_011M',
 'S1901_C01_012E',
 'S1901_C01_012M',
 'S1901_C02_012E',
 'S1901_C02_012M',
 'S1901_C03_012E',
 'S1901_C03_012M',
 'S1901_C04_012E',
 'S1901_C04_012M',
 'S1901_C01_013E',
 'S1901_C01_013M',
 'S1901_C02_013E',
 'S1901_C02_013M',
 'S1901_C03_013E',
 'S1901_C03_013M',
 'S1901_C04_013E',
 'S1901_C04_013M',
 'S1901_C01_014E',
 'S1901_C01_014M',
 'S1901_C02_014E',
 'S1901_C02_014M',
 'S1901_C03_014E',
 'S1901_C03_014M',
 'S1901_C04_014E',
 'S1901_C04_014M',
 'S1901_C01_015E',
 'S1901_C01_015M',
 'S1901_C02_015E',
 'S1901_C02_015M',
 'S1901_C03_015E',
 'S1901_C03_015M',
 'S1901_C04_015E',
 'S1901_C04_015M',
 'S1901_C01_016E',
 'S1901_C01_016M',
 'S1901_C02_016E',
 'S1901_C02_016M',
 'S1901_C03_016E',
 'S1901_C03_016M',
 'S1901_C04_016E',
 'S1901_C04_016M']

In [12]:
# rename columns
income.columns = ['GEO_ID',
 'NAME',
 'Total_Households',
 'MOE_Total_HH',
 'Total_Families',
 'MOE_Total_Families',
 'Total_Married Couples',
 'S1901_C03_001M',
 'Total_NonFamilyHH',
 'S1901_C04_001M',
 'Total_HH Less than 10K',
 'S1901_C01_002M',
 'Total_Families Less than 10K',
 'S1901_C02_002M',
 'Total_Married Couples Less than 10K',
 'S1901_C03_002M',
 'NonFamily_HH Less than 10K',
 'S1901_C04_002M',
 'Total_HH 10K to 14,999',
 'S1901_C01_003M',
 'Total_Families 10K to 14,999',
 'S1901_C02_003M',
 'Total_Married Couples 10k to 14,999',
 'S1901_C03_003M',
 'NonFamily HH 10K to 14,999',
 'S1901_C04_003M',
 'HH 15K to 24,999',
 'S1901_C01_004M',
 'Families 15K to 24,999',
 'S1901_C02_004M',
 'Married Couples 15K to 24,999',
 'S1901_C03_004M',
 'Nonfamily HH 15K ro 24,999',
 'S1901_C04_004M',
 'Total_HH 25K to 34,999',
 'S1901_C01_005M',
 'Total_Families 25K to 34,999',
 'S1901_C02_005M',
 'Married Couples 25K to 34,999',
 'S1901_C03_005M',
 'NonFamily HH 25K to 34,999',
 'S1901_C04_005M',
 'Total_HH 35K to 49,999',
 'S1901_C01_006M',
 'Total_Families 35K to 49,999',
 'S1901_C02_006M',
 'Married Couples 35K to 49,999',
 'S1901_C03_006M',
 'NonFamily HH 35K to 49,999',
 'S1901_C04_006M',
 'Total_HH 50K to 74,999',
 'S1901_C01_007M',
 'Total_Families 50K to 74,999',
 'S1901_C02_007M',
 'Married Couples 50K to 74,999',
 'S1901_C03_007M',
 'NonFamily HH 50K to 74,999',
 'S1901_C04_007M',
 'Total_HH 75K to 99,999',
 'S1901_C01_008M',
 'Total_Families 75K to 99,999',
 'S1901_C02_008M',
 'Married Couples 75K to 99,999',
 'S1901_C03_008M',
 'NonFamily HH 75K to 99,999',
 'S1901_C04_008M',
 'Total_HH 100K to 149,999',
 'S1901_C01_009M',
 'Total_Families 100K to 149,999',
 'S1901_C02_009M',
 'Married Couple Families 100K to 149,999',
 'S1901_C03_009M',
 'Nonfamily_HH 100K to 149,999',
 'S1901_C04_009M',
 'Total_HH 150K to 199,999',
 'S1901_C01_010M',
 'Total_Families 150K to 199,999',
 'S1901_C02_010M',
 'Married Couple Families 150K to 199,999',
 'S1901_C03_010M',
 'NonFamily HH 150K to 199,999',
 'S1901_C04_010M',
 'Total_HH more than 200K',
 'S1901_C01_011M',
 'Total_Families more than 200K',
 'S1901_C02_011M',
 'Married Couple Families more than 200K',
 'S1901_C03_011M',
 'Nonfamily HH more than 200K',
 'S1901_C04_011M',
 'HH Median Income',
 'S1901_C01_012M',
 'Families Median Income',
 'S1901_C02_012M',
 'Married Couple families Median Income',
 'S1901_C03_012M',
 'NonFamily Median Income',
 'S1901_C04_012M',
 'HH Mean Income',
 'S1901_C01_013M',
 'Families Mean Income',
 'S1901_C02_013M',
 'Married Couple Families Mean Income',
 'S1901_C03_013M',
 'Nonfamily Mean Income',
 'S1901_C04_013M',
 'PercentAllocated_HH income las 12 mos',
 'S1901_C01_014M',
 'S1901_C02_014E',
 'S1901_C02_014M',
 'S1901_C03_014E',
 'S1901_C03_014M',
 'S1901_C04_014E',
 'S1901_C04_014M',
 'S1901_C01_015E',
 'S1901_C01_015M',
 'PercentAllocated_Family income las 12 mos',
 'S1901_C02_015M',
 'S1901_C03_015E',
 'S1901_C03_015M',
 'S1901_C04_015E',
 'S1901_C04_015M',
 'S1901_C01_016E',
 'S1901_C01_016M',
 'S1901_C02_016E',
 'S1901_C02_016M',
 'S1901_C03_016E',
 'S1901_C03_016M',
 'PercentAllocated_Nonfamily income las 12 mos',
 'S1901_C04_016M']

In [13]:
# drop columns not needed
columns_to_drop = [ 'MOE_Total_HH','MOE_Total_Families','S1901_C03_001M','S1901_C01_002M','S1901_C02_002M','S1901_C03_002M','S1901_C04_002M','S1901_C01_003M','S1901_C02_003M','S1901_C03_003M','S1901_C04_003M','S1901_C01_004M','S1901_C02_004M','S1901_C03_004M','S1901_C04_004M','S1901_C01_005M','S1901_C02_005M','S1901_C03_005M','S1901_C04_005M','S1901_C01_006M','S1901_C02_006M','S1901_C03_006M','S1901_C04_006M','S1901_C01_007M','S1901_C02_007M','S1901_C03_007M','S1901_C04_007M','S1901_C01_008M','S1901_C02_008M','S1901_C03_008M','S1901_C04_008M','S1901_C01_009M','S1901_C02_009M','S1901_C03_009M','S1901_C04_009M','S1901_C01_010M', 'S1901_C02_010M', 'S1901_C03_010M', 'S1901_C04_010M', 'S1901_C01_011M', 'S1901_C02_011M', 'S1901_C03_011M', 'S1901_C04_011M', 'S1901_C01_012M', 'S1901_C02_012M', 'S1901_C03_012M', 'S1901_C04_012M', 'S1901_C01_013M', 'S1901_C02_013M', 'S1901_C03_013M', 'S1901_C04_013M', 'S1901_C01_014M', 'S1901_C02_014E', 'S1901_C02_014M', 'S1901_C03_014E', 'S1901_C03_014M', 'S1901_C04_014E', 'S1901_C04_014M', 'S1901_C01_015E', 'S1901_C01_015M', 'S1901_C02_015M', 'S1901_C03_015E', 'S1901_C03_015M', 'S1901_C04_015E', 'S1901_C04_015M', 'S1901_C01_016E', 'S1901_C01_016M', 'S1901_C02_016E', 'S1901_C02_016M', 'S1901_C03_016E', 'S1901_C03_016M', 'S1901_C04_016M']

In [14]:
# observe what columns look like again
income = income.drop(columns_to_drop,axis=1)
income.head()

,GEO_ID,NAME,Total_Households,Total_Families,Total_Married Couples,Total_NonFamilyHH,S1901_C04_001M,Total_HH Less than 10K,Total_Families Less than 10K,Total_Married Couples Less than 10K,NonFamily_HH Less than 10K,"Total_HH 10K to 14,999","Total_Families 10K to 14,999","Total_Married Couples 10k to 14,999","NonFamily HH 10K to 14,999","HH 15K to 24,999","Families 15K to 24,999","Married Couples 15K to 24,999","Nonfamily HH 15K ro 24,999","Total_HH 25K to 34,999","Total_Families 25K to 34,999","Married Couples 25K to 34,999","NonFamily HH 25K to 34,999","Total_HH 35K to 49,999","Total_Families 35K to 49,999","Married Couples 35K to 49,999","NonFamily HH 35K to 49,999","Total_HH 50K to 74,999","Total_Families 50K to 74,999","Married Couples 50K to 74,999","NonFamily HH 50K to 74,999","Total_HH 75K to 99,999","Total_Families 75K to 99,999","Married Couples 75K to 99,999","NonFamily HH 75K to 99,999","Total_HH 100K to 149,999","Total_Families 100K to 149,999","Married Couple Families 100K to 149,999","Nonfamily_HH 100K to 149,999","Total_HH 150K to 199,999","Total_Families 150K to 199,999","Married Couple Families 150K to 199,999","NonFamily HH 150K to 199,999",Total_HH more than 200K,Total_Families more than 200K,Married Couple Families more than 200K,Nonfamily HH more than 200K,HH Median Income,Families Median Income,Married Couple families Median Income,NonFamily Median Income,HH Mean Income,Families Mean Income,Married Couple Families Mean Income,Nonfamily Mean Income,PercentAllocated_HH income las 12 mos,PercentAllocated_Family income las 12 mos,PercentAllocated_Nonfamily income las 12 mos
0,id,Geographic Area Name,Estimate!!Households!!Total,Estimate!!Families!!Total,Estimate!!Married-couple families!!Total,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,"Estimate!!Households!!Total!!Less than $10,000","Estimate!!Families!!Total!!Less than $10,000",Estimate!!Married-couple families!!Total!!Less...,Estimate!!Nonfamily households!!Total!!Less th...,"Estimate!!Households!!Total!!$10,000 to $14,999","Estimate!!Families!!Total!!$10,000 to $14,999","Estimate!!Married-couple families!!Total!!$10,...","Estimate!!Nonfamily households!!Total!!$10,000...","Estimate!!Households!!Total!!$15,000 to $24,999","Estimate!!Families!!Total!!$15,000 to $24,999","Estimate!!Married-couple families!!Total!!$15,...","Estimate!!Nonfamily households!!Total!!$15,000...","Estimate!!Households!!Total!!$25,000 to $34,999","Estimate!!Families!!Total!!$25,000 to $34,999","Estimate!!Married-couple families!!Total!!$25,...","Estimate!!Nonfamily households!!Total!!$25,000...","Estimate!!Households!!Total!!$35,000 to $49,999","Estimate!!Families!!Total!!$35,000 to $49,999","Estimate!!Married-couple families!!Total!!$35,...","Estimate!!Nonfamily households!!Total!!$35,000...","Estimate!!Households!!Total!!$50,000 to $74,999","Estimate!!Families!!Total!!$50,000 to $74,999","Estimate!!Married-couple families!!Total!!$50,...","Estimate!!Nonfamily households!!Total!!$50,000...","Estimate!!Households!!Total!!$75,000 to $99,999","Estimate!!Families!!Total!!$75,000 to $99,999","Estimate!!Married-couple families!!Total!!$75,...","Estimate!!Nonfamily households!!Total!!$75,000...","Estimate!!Households!!Total!!$100,000 to $149,999","Estimate!!Families!!Total!!$100,000 to $149,999",Estimate!!Married-couple families!!Total!!$100...,"Estimate!!Nonfamily households!!Total!!$100,00...","Estimate!!Households!!Total!!$150,000 to $199,999","Estimate!!Families!!Total!!$150,000 to $199,999",Estimate!!Married-couple families!!Total!!$150...,"Estimate!!Nonfamily households!!Total!!$150,00...","Estimate!!Households!!Total!!$200,000 or more","Estimate!!Families!!Total!!$200,000 or more",Estimate!!Married-couple families!!Total!!$200...,"Estimate!!Nonfamily households!!Total!!$200,00...",Estimate!!Households!!Median income (dollars),Estimate!!Families!!Median income (dollars),Estimate!!Married-couple families!!Median inco...,Estimate!!Nonfamily households!!Median income ...,Estimate!!Households!!Mean income (dollars),Estimate!!Families!!Mean income (dollars),Estimate!!Married-couple families!!Mean income...,Estimate!!Nonfamily households!!Mean income (d...,Estimate!!Households!!PERCENT ALLOCATED!!House...,Estimate!!Families!!PERCENT ALLOCATED!!Family ...,Estimate!!Nonfamily households!!PERCENT ALLOCA...
1,1400000US06037101110,"Census Tract 1011.10, Los Angeles County, Cali...",1596,1000,643,596,115,6.9,7.1,4.7,12.2,6.1,2.7,0.0,11.7,9.1,9.6,10.3,7.2,13.7,15.2,10.3,11.2,13.8,7.5,9.0,21.1,11.9,14.1,14.3,13.4,17.4,16.5,19.6,13.6,11.5,14.9,15.4,7.9,6.8,8.0,11.0,1.5,2.8,4.4,5.4,0.0,53077,70726,78984,42973,69041,77348,N,49538,42.2,41.6,43.1
2,1400000US06037101122,"Census Tract 1011.22, Los Angeles County, Cali...",1256,906,758,350,100,4.1,0.7,0.0,13.1,1.4,1.0,1.2,2.6,1.2,0.0,0.0,4.3,6.1,2.1,2.5,16.6,5.6,7.3,1.1,4.3,19.7,20.6,23.4,17.4,18.5,17.9,19.9,20.0,17.4,18.3,15.8,12.0,10.6,13.9,15.4,2.0,15.3,18.2,20.7,7.7,88953,100213,101500,59239,118157,133030,N,73621,51.0,51.9,45.7
3,1400000US06037101210,"Census Tract 1012.10, Los Angeles County, Cali...",2321,1531,995,790,198,12.3,9.9,6.6,16.8,6.0,1.1,1.7,15.6,17.4,23.6,16.7,13.9,15.9,17.5,17.0,13.7,16.2,17.4,22.8,13.9,11.8,12.4,12.3,5.6,9.7,8.6,13.2,7.5,7.0,7.4,8.2,6.3,0.6,0.0,0.0,1.8,3.1,2.1,1.5,4.9,32119,32052,45502,28080,50062,46677,N,51460,38.3,34.4,41.4
4,1400000US06037101220,"Census Tract 1012.20, Los Angeles County, Cali...",1294,881,607,413,103,5.0,4.2,0.0,6.8,8.0,3.5,0.0,17.7,16.7,20.2,22.1,19.9,12.0,10.3,11.0,7.7,23.3,18.5,14.5,32.7,9.9,10.4,13.8,11.1,6.8,7.8,6.9,0.0,12.0,15.7,21.1,4.1,3.3,4.9,4.1,0.0,3.0,4.4,6.4,0.0,41728,46026,54205,32639,56903,66462,N,33700,33.8,33.5,30.0

In [25]:
# observe data in HH Median income column
income['HH Median Income'].head()

0    Estimate!!Households!!Median income (dollars)
1                                            53077
2                                            88953
3                                            32119
4                                            41728
Name: HH Median Income, dtype: object

In [26]:
# observe some stats on column
income['HH Median Income'].describe()

count     2347
unique    2195
top          -
freq        38
Name: HH Median Income, dtype: object

In [28]:
# check how many rows are in data 
len(income)

2347

In [29]:
# check how many columns have nulls values
income.isna().sum()

GEO_ID                                          0
NAME                                            0
Total_Households                                0
Total_Families                                  0
Total_Married Couples                           0
Total_NonFamilyHH                               0
S1901_C04_001M                                  0
Total_HH Less than 10K                          0
Total_Families Less than 10K                    0
Total_Married Couples Less than 10K             0
NonFamily_HH Less than 10K                      0
Total_HH 10K to 14,999                          0
Total_Families 10K to 14,999                    0
Total_Married Couples 10k to 14,999             0
NonFamily HH 10K to 14,999                      0
HH 15K to 24,999                                0
Families 15K to 24,999                          0
Married Couples 15K to 24,999                   0
Nonfamily HH 15K ro 24,999                      0
Total_HH 25K to 34,999                          0
Total_Families 25K to 34,999                    0
Married Couples 25K to 34,999                   0
NonFamily HH 25K to 34,999                      0
Total_HH 35K to 49,999                          0
Total_Families 35K to 49,999                    0
Married Couples 35K to 49,999                   0
NonFamily HH 35K to 49,999                      0
Total_HH 50K to 74,999                          0
Total_Families 50K to 74,999                    0
Married Couples 50K to 74,999                   0
NonFamily HH 50K to 74,999                      0
Total_HH 75K to 99,999                          0
Total_Families 75K to 99,999                    0
Married Couples 75K to 99,999                   0
NonFamily HH 75K to 99,999                      0
Total_HH 100K to 149,999                        0
Total_Families 100K to 149,999                  0
Married Couple Families 100K to 149,999         0
Nonfamily_HH 100K to 149,999                    0
Total_HH 150K to 199,999                        0
Total_Families 150K to 199,999                  0
Married Couple Families 150K to 199,999         0
NonFamily HH 150K to 199,999                    0
Total_HH more than 200K                         0
Total_Families more than 200K                   0
Married Couple Families more than 200K          0
Nonfamily HH more than 200K                     0
HH Median Income                                0
Families Median Income                          0
Married Couple families Median Income           0
NonFamily Median Income                         0
HH Mean Income                                  0
Families Mean Income                            0
Married Couple Families Mean Income             0
Nonfamily Mean Income                           0
PercentAllocated_HH income las 12 mos           0
PercentAllocated_Family income las 12 mos       0
PercentAllocated_Nonfamily income las 12 mos    0
dtype: int64

In [66]:
# sort census tracts that have highest percentage of HH Median Income less than 10K
income_sorted = income.sort_values(by='Total_HH Less than 10K',ascending=False)

In [65]:
# show rows/census tracts that have highest percentage of HH Median Income less than 10K, with certain columns
income_sorted[['NAME','Total_HH Less than 10K']].head(20)

,NAME,Total_HH Less than 10K
0,Geographic Area Name,"Estimate!!Households!!Total!!Less than $10,000"
555,"Census Tract 2086.10, Los Angeles County, Cali...",9.9
1043,"Census Tract 3108, Los Angeles County, California",9.9
1031,"Census Tract 3025.06, Los Angeles County, Cali...",9.9
922,"Census Tract 2755, Los Angeles County, California",9.9
766,"Census Tract 2371.01, Los Angeles County, Cali...",9.9
657,"Census Tract 2187.02, Los Angeles County, Cali...",9.9
644,"Census Tract 2170.01, Los Angeles County, Cali...",9.9
439,"Census Tract 1916.20, Los Angeles County, Cali...",9.9
108,"Census Tract 1152.02, Los Angeles County, Cali...",9.9
523,"Census Tract 2046, Los Angeles County, California",9.9
743,"Census Tract 2325, Los Angeles County, California",9.8
1441,"Census Tract 4823.01, Los Angeles County, Cali...",9.8
1904,"Census Tract 5754.01, Los Angeles County, Cali...",9.8
431,"Census Tract 1912.03, Los Angeles County, Cali...",9.8
155,"Census Tract 1211.02, Los Angeles County, Cali...",9.8
1040,"Census Tract 3107.01, Los Angeles County, Cali...",9.8
1207,"Census Tract 4069.01, Los Angeles County, Cali...",9.8
1019,"Census Tract 3020.04, Los Angeles County, Cali...",9.8
1896,"Census Tract 5750.01, Los Angeles County, Cali...",9.8

In [71]:
# sort data by Household median income, starting from lowest value
income_sorted = income.sort_values(by='HH Median Income',ascending=True)

In [72]:
# show data for household median income, starting from lowest value
income_sorted[['NAME','HH Median Income']].head(60)

                                                   NAME HH Median Income
2346  Census Tract 9903, Los Angeles County, California                -
2329  Census Tract 9800.14, Los Angeles County, Cali...                -
2197  Census Tract 9010.03, Los Angeles County, Cali...                -
2327  Census Tract 9800.10, Los Angeles County, Cali...                -
2326  Census Tract 9800.09, Los Angeles County, Cali...                -
2325  Census Tract 9800.08, Los Angeles County, Cali...                -
2324  Census Tract 9800.07, Los Angeles County, Cali...                -
2323  Census Tract 9800.06, Los Angeles County, Cali...                -
2322  Census Tract 9800.05, Los Angeles County, Cali...                -
2321  Census Tract 9800.04, Los Angeles County, Cali...                -
2320  Census Tract 9800.03, Los Angeles County, Cali...                -
2319  Census Tract 9800.02, Los Angeles County, Cali...                -
2318  Census Tract 9800.01, Los Angeles County, Cali...                -
2119  Census Tract 7011, Los Angeles County, California                -
1890  Census Tract 5746.01, Los Angeles County, Cali...                -
1892  Census Tract 5747, Los Angeles County, California                -
2298  Census Tract 9202, Los Angeles County, California                -
848   Census Tract 2653.01, Los Angeles County, Cali...                -
543   Census Tract 2074, Los Angeles County, California                -
2331  Census Tract 9800.18, Los Angeles County, Cali...                -
2328  Census Tract 9800.13, Los Angeles County, Cali...                -
1106  Census Tract 4024.04, Los Angeles County, Cali...                -
2344  Census Tract 9901, Los Angeles County, California                -
2345  Census Tract 9902, Los Angeles County, California                -
2343  Census Tract 9800.33, Los Angeles County, Cali...                -
2341  Census Tract 9800.30, Los Angeles County, Cali...                -
2340  Census Tract 9800.28, Los Angeles County, Cali...                -
2339  Census Tract 9800.26, Los Angeles County, Cali...                -
1123  Census Tract 4032, Los Angeles County, California                -
2338  Census Tract 9800.25, Los Angeles County, Cali...                -
2336  Census Tract 9800.23, Los Angeles County, Cali...                -
1941  Census Tract 5991, Los Angeles County, California                -
1055  Census Tract 3200, Los Angeles County, California                -
1522  Census Tract 5041.02, Los Angeles County, Cali...                -
2335  Census Tract 9800.22, Los Angeles County, Cali...                -
1747  Census Tract 5516, Los Angeles County, California                -
2333  Census Tract 9800.20, Los Angeles County, Cali...                -
2334  Census Tract 9800.21, Los Angeles County, Cali...                -
1856  Census Tract 5720.01, Los Angeles County, Cali...           100000
985   Census Tract 2975, Los Angeles County, California           100152
842   Census Tract 2641.03, Los Angeles County, Cali...           100160
1520  Census Tract 5040.02, Los Angeles County, Cali...           100237
1226  Census Tract 4080.03, Los Angeles County, Cali...           100288
284   Census Tract 1344.23, Los Angeles County, Cali...           100427
636   Census Tract 2161, Los Angeles County, California           100781
310   Census Tract 1374.02, Los Angeles County, Cali...           100781
1138  Census Tract 4034.01, Los Angeles County, Cali...           100833
2124  Census Tract 7014.02, Los Angeles County, Cali...           100840
297   Census Tract 1351.11, Los Angeles County, Cali...           100911
448   Census Tract 1923, Los Angeles County, California           100938
978   Census Tract 2970, Los Angeles County, California           100982
1379  Census Tract 4632, Los Angeles County, California           100982
376   Census Tract 1851, Los Angeles County, California           101103
1878  Census Tract 5734.03, Los Angeles County, Cali...           101179
2305  Census Tract 9203.28, Los Angeles County, Cali...           101250
1843  Census Tract 5711.02, Los Angeles County, Cali...           101250
1885  Census Tract 5742.01, Los Angeles County, Cali...           101411
1255  Census Tract 4086.27, Los Angeles County, Cali...           101492
2249  Census Tract 9108.08, Los Angeles County, Cali...           101635
624   Census Tract 2141, Los Angeles County, California           101727

In [97]:
#import education dataframe
education = pd.read_csv('../../data/Education_5Y2018.csv')

In [144]:
# observe size of data
education.shape

(2346, 15)

In [145]:
# observe size, columns, and rows of data
education.head()

,Geo_FIPS,Geo_NAME,Geo_QName,Geo_STATE,Geo_COUNTY,Geo_TRACT,SE_A12001_001,SE_A12001_002,SE_A12001_003,SE_A12001_004,SE_A12001_005,SE_A12001_006,SE_A12001_007,SE_A12001_008,"(Geo_FIPS,)"
0,06037101110,Census Tract 1011.10,"Census Tract 1011.10, Los Angeles County, Cali...",00000000006,00000000037,101110,3085,524,765,1101,411,180,50,54,06037101110
1,06037101122,Census Tract 1011.22,"Census Tract 1011.22, Los Angeles County, Cali...",00000000006,00000000037,101122,2597,168,749,888,463,248,13,68,06037101122
2,06037101210,Census Tract 1012.10,"Census Tract 1012.10, Los Angeles County, Cali...",00000000006,00000000037,101210,4107,762,1185,1340,548,174,36,62,06037101210
3,06037101220,Census Tract 1012.20,"Census Tract 1012.20, Los Angeles County, Cali...",00000000006,00000000037,101220,2484,515,700,769,347,129,0,24,06037101220
4,06037101300,Census Tract 1013,"Census Tract 1013, Los Angeles County, California",00000000006,00000000037,101300,3446,362,949,1145,604,278,82,26,06037101300

In [146]:
# look at the data types
education.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Geo_FIPS       2346 non-null   object
 1   Geo_NAME       2346 non-null   object
 2   Geo_QName      2346 non-null   object
 3   Geo_STATE      2346 non-null   object
 4   Geo_COUNTY     2346 non-null   object
 5   Geo_TRACT      2346 non-null   int64
 6   SE_A12001_001  2346 non-null   int64
 7   SE_A12001_002  2346 non-null   int64
 8   SE_A12001_003  2346 non-null   int64
 9   SE_A12001_004  2346 non-null   int64
 10  SE_A12001_005  2346 non-null   int64
 11  SE_A12001_006  2346 non-null   int64
 12  SE_A12001_007  2346 non-null   int64
 13  SE_A12001_008  2346 non-null   int64
 14  (Geo_FIPS,)    2346 non-null   object
dtypes: int64(9), object(6)
memory usage: 275.0+ KB

In [147]:
# obesrve values under Geo_STATE column
education.Geo_STATE.head()

0    00000000006
1    00000000006
2    00000000006
3    00000000006
4    00000000006
Name: Geo_STATE, dtype: object

In [148]:
# obesrve values under Geo_COUNTY column
education.Geo_COUNTY.head()

0    00000000037
1    00000000037
2    00000000037
3    00000000037
4    00000000037
Name: Geo_COUNTY, dtype: object

In [149]:
# assign data types upon import
education = pd.read_csv(
    '../../data/Education_5Y2018.csv',
    dtype=
    {
        'Geo_FIPS':str,
        'Geo_STATE':str,
        'Geo_COUNTY': str
    })

In [150]:
# continue assigning data types upon import
education['Geo_FIPS'] = education['Geo_FIPS'].str.zfill(11)

In [151]:
# continue assigning data types upon import
education['Geo_STATE'] = education['Geo_STATE'].str.zfill(11)

In [152]:
# continue assigning data types upon import
education['Geo_COUNTY'] = education['Geo_COUNTY'].str.zfill(11)

In [153]:
# observe data again to ensure zero is in front of values
education.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,Geo_STATECE,Geo_STATE,Geo_COUNTY,Geo_COUSUB,Geo_PLACE,Geo_PLACESE,Geo_TRACT,Geo_BLKGRP,Geo_CONCIT,Geo_AIANHH,Geo_AIANHHFP,Geo_AIHHTLI,Geo_AITSCE,Geo_AITS,Geo_ANRC,Geo_CBSA,Geo_CSA,Geo_METDIV,Geo_MACC,Geo_MEMI,Geo_NECTA,Geo_CNECTA,Geo_NECTADIV,Geo_UA,Geo_UACP,Geo_CDCURR,Geo_SLDU,Geo_SLDL,Geo_VTD,Geo_ZCTA3,Geo_ZCTA5,Geo_SUBMCD,Geo_SDELM,Geo_SDSEC,Geo_SDUNI,Geo_UR,Geo_PCI,Geo_TAZ,Geo_UGA,Geo_BTTR,Geo_BTBG,Geo_PUMA5,Geo_PUMA1,SE_A12001_001,SE_A12001_002,SE_A12001_003,SE_A12001_004,SE_A12001_005,SE_A12001_006,SE_A12001_007,SE_A12001_008
0,06037101110,14000US06037101110,Census Tract 1011.10,"Census Tract 1011.10, Los Angeles County, Cali...",ca,140,0,ACSSF,3870,NaN,NaN,NaN,NaN,00000000006,00000000037,NaN,NaN,NaN,101110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3085,524,765,1101,411,180,50,54
1,06037101122,14000US06037101122,Census Tract 1011.22,"Census Tract 1011.22, Los Angeles County, Cali...",ca,140,0,ACSSF,3871,NaN,NaN,NaN,NaN,00000000006,00000000037,NaN,NaN,NaN,101122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2597,168,749,888,463,248,13,68
2,06037101210,14000US06037101210,Census Tract 1012.10,"Census Tract 1012.10, Los Angeles County, Cali...",ca,140,0,ACSSF,3872,NaN,NaN,NaN,NaN,00000000006,00000000037,NaN,NaN,NaN,101210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4107,762,1185,1340,548,174,36,62
3,06037101220,14000US06037101220,Census Tract 1012.20,"Census Tract 1012.20, Los Angeles County, Cali...",ca,140,0,ACSSF,3873,NaN,NaN,NaN,NaN,00000000006,00000000037,NaN,NaN,NaN,101220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2484,515,700,769,347,129,0,24
4,06037101300,14000US06037101300,Census Tract 1013,"Census Tract 1013, Los Angeles County, California",ca,140,0,ACSSF,3874,NaN,NaN,NaN,NaN,00000000006,00000000037,NaN,NaN,NaN,101300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3446,362,949,1145,604,278,82,26

In [154]:
# confirm new datatypes
education.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 63 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Geo_FIPS       2346 non-null   object
 1   Geo_GEOID      2346 non-null   object
 2   Geo_NAME       2346 non-null   object
 3   Geo_QName      2346 non-null   object
 4   Geo_STUSAB     2346 non-null   object
 5   Geo_SUMLEV     2346 non-null   int64
 6   Geo_GEOCOMP    2346 non-null   int64
 7   Geo_FILEID     2346 non-null   object
 8   Geo_LOGRECNO   2346 non-null   int64
 9   Geo_US         0 non-null      float64
 10  Geo_REGION     0 non-null      float64
 11  Geo_DIVISION   0 non-null      float64
 12  Geo_STATECE    0 non-null      float64
 13  Geo_STATE      2346 non-null   object
 14  Geo_COUNTY     2346 non-null   object
 15  Geo_COUSUB     0 non-null      float64
 16  Geo_PLACE      0 non-null      float64
 17  Geo_PLACESE    0 non-null      float64
 18  Geo_TRACT      2346 non-null   int64
 19  Geo_BLKGRP     0 non-null      float64
 20  Geo_CONCIT     0 non-null      float64
 21  Geo_AIANHH     0 non-null      float64
 22  Geo_AIANHHFP   0 non-null      float64
 23  Geo_AIHHTLI    0 non-null      float64
 24  Geo_AITSCE     0 non-null      float64
 25  Geo_AITS       0 non-null      float64
 26  Geo_ANRC       0 non-null      float64
 27  Geo_CBSA       0 non-null      float64
 28  Geo_CSA        0 non-null      float64
 29  Geo_METDIV     0 non-null      float64
 30  Geo_MACC       0 non-null      float64
 31  Geo_MEMI       0 non-null      float64
 32  Geo_NECTA      0 non-null      float64
 33  Geo_CNECTA     0 non-null      float64
 34  Geo_NECTADIV   0 non-null      float64
 35  Geo_UA         0 non-null      float64
 36  Geo_UACP       0 non-null      float64
 37  Geo_CDCURR     0 non-null      float64
 38  Geo_SLDU       0 non-null      float64
 39  Geo_SLDL       0 non-null      float64
 40  Geo_VTD        0 non-null      float64
 41  Geo_ZCTA3      0 non-null      float64
 42  Geo_ZCTA5      0 non-null      float64
 43  Geo_SUBMCD     0 non-null      float64
 44  Geo_SDELM      0 non-null      float64
 45  Geo_SDSEC      0 non-null      float64
 46  Geo_SDUNI      0 non-null      float64
 47  Geo_UR         0 non-null      float64
 48  Geo_PCI        0 non-null      float64
 49  Geo_TAZ        0 non-null      float64
 50  Geo_UGA        0 non-null      float64
 51  Geo_BTTR       0 non-null      float64
 52  Geo_BTBG       0 non-null      float64
 53  Geo_PUMA5      0 non-null      float64
 54  Geo_PUMA1      0 non-null      float64
 55  SE_A12001_001  2346 non-null   int64
 56  SE_A12001_002  2346 non-null   int64
 57  SE_A12001_003  2346 non-null   int64
 58  SE_A12001_004  2346 non-null   int64
 59  SE_A12001_005  2346 non-null   int64
 60  SE_A12001_006  2346 non-null   int64
 61  SE_A12001_007  2346 non-null   int64
 62  SE_A12001_008  2346 non-null   int64
dtypes: float64(43), int64(12), object(8)
memory usage: 1.1+ MB

In [155]:
# list columns that have all null values
education.columns[education.isna().all()].tolist()

['Geo_US',
 'Geo_REGION',
 'Geo_DIVISION',
 'Geo_STATECE',
 'Geo_COUSUB',
 'Geo_PLACE',
 'Geo_PLACESE',
 'Geo_BLKGRP',
 'Geo_CONCIT',
 'Geo_AIANHH',
 'Geo_AIANHHFP',
 'Geo_AIHHTLI',
 'Geo_AITSCE',
 'Geo_AITS',
 'Geo_ANRC',
 'Geo_CBSA',
 'Geo_CSA',
 'Geo_METDIV',
 'Geo_MACC',
 'Geo_MEMI',
 'Geo_NECTA',
 'Geo_CNECTA',
 'Geo_NECTADIV',
 'Geo_UA',
 'Geo_UACP',
 'Geo_CDCURR',
 'Geo_SLDU',
 'Geo_SLDL',
 'Geo_VTD',
 'Geo_ZCTA3',
 'Geo_ZCTA5',
 'Geo_SUBMCD',
 'Geo_SDELM',
 'Geo_SDSEC',
 'Geo_SDUNI',
 'Geo_UR',
 'Geo_PCI',
 'Geo_TAZ',
 'Geo_UGA',
 'Geo_BTTR',
 'Geo_BTBG',
 'Geo_PUMA5',
 'Geo_PUMA1']

In [156]:
# drop columns above with all null values
education = education.dropna(axis=1,how="all")

In [157]:
# check columns now listed in data after dropping those with all null values
education.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Geo_FIPS       2346 non-null   object
 1   Geo_GEOID      2346 non-null   object
 2   Geo_NAME       2346 non-null   object
 3   Geo_QName      2346 non-null   object
 4   Geo_STUSAB     2346 non-null   object
 5   Geo_SUMLEV     2346 non-null   int64
 6   Geo_GEOCOMP    2346 non-null   int64
 7   Geo_FILEID     2346 non-null   object
 8   Geo_LOGRECNO   2346 non-null   int64
 9   Geo_STATE      2346 non-null   object
 10  Geo_COUNTY     2346 non-null   object
 11  Geo_TRACT      2346 non-null   int64
 12  SE_A12001_001  2346 non-null   int64
 13  SE_A12001_002  2346 non-null   int64
 14  SE_A12001_003  2346 non-null   int64
 15  SE_A12001_004  2346 non-null   int64
 16  SE_A12001_005  2346 non-null   int64
 17  SE_A12001_006  2346 non-null   int64
 18  SE_A12001_007  2346 non-null   int64
 19  SE_A12001_008  2346 non-null   int64
dtypes: int64(12), object(8)
memory usage: 366.7+ KB

In [158]:
# reinspect data
education.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_STATE,Geo_COUNTY,Geo_TRACT,SE_A12001_001,SE_A12001_002,SE_A12001_003,SE_A12001_004,SE_A12001_005,SE_A12001_006,SE_A12001_007,SE_A12001_008
0,06037101110,14000US06037101110,Census Tract 1011.10,"Census Tract 1011.10, Los Angeles County, Cali...",ca,140,0,ACSSF,3870,00000000006,00000000037,101110,3085,524,765,1101,411,180,50,54
1,06037101122,14000US06037101122,Census Tract 1011.22,"Census Tract 1011.22, Los Angeles County, Cali...",ca,140,0,ACSSF,3871,00000000006,00000000037,101122,2597,168,749,888,463,248,13,68
2,06037101210,14000US06037101210,Census Tract 1012.10,"Census Tract 1012.10, Los Angeles County, Cali...",ca,140,0,ACSSF,3872,00000000006,00000000037,101210,4107,762,1185,1340,548,174,36,62
3,06037101220,14000US06037101220,Census Tract 1012.20,"Census Tract 1012.20, Los Angeles County, Cali...",ca,140,0,ACSSF,3873,00000000006,00000000037,101220,2484,515,700,769,347,129,0,24
4,06037101300,14000US06037101300,Census Tract 1013,"Census Tract 1013, Los Angeles County, California",ca,140,0,ACSSF,3874,00000000006,00000000037,101300,3446,362,949,1145,604,278,82,26

In [159]:
# identify columns to drop, by name
columns_to_drop = ['Geo_GEOID','Geo_STUSAB','Geo_SUMLEV','Geo_GEOCOMP','Geo_FILEID','Geo_LOGRECNO']

In [160]:
# drop columns above
education = education.drop(columns_to_drop,axis=1)
education.head()

,Geo_FIPS,Geo_NAME,Geo_QName,Geo_STATE,Geo_COUNTY,Geo_TRACT,SE_A12001_001,SE_A12001_002,SE_A12001_003,SE_A12001_004,SE_A12001_005,SE_A12001_006,SE_A12001_007,SE_A12001_008
0,06037101110,Census Tract 1011.10,"Census Tract 1011.10, Los Angeles County, Cali...",00000000006,00000000037,101110,3085,524,765,1101,411,180,50,54
1,06037101122,Census Tract 1011.22,"Census Tract 1011.22, Los Angeles County, Cali...",00000000006,00000000037,101122,2597,168,749,888,463,248,13,68
2,06037101210,Census Tract 1012.10,"Census Tract 1012.10, Los Angeles County, Cali...",00000000006,00000000037,101210,4107,762,1185,1340,548,174,36,62
3,06037101220,Census Tract 1012.20,"Census Tract 1012.20, Los Angeles County, Cali...",00000000006,00000000037,101220,2484,515,700,769,347,129,0,24
4,06037101300,Census Tract 1013,"Census Tract 1013, Los Angeles County, California",00000000006,00000000037,101300,3446,362,949,1145,604,278,82,26

In [161]:
# create list of columns and their names
columns = list(education)

In [162]:
columns

['Geo_FIPS',
 'Geo_NAME',
 'Geo_QName',
 'Geo_STATE',
 'Geo_COUNTY',
 'Geo_TRACT',
 'SE_A12001_001',
 'SE_A12001_002',
 'SE_A12001_003',
 'SE_A12001_004',
 'SE_A12001_005',
 'SE_A12001_006',
 'SE_A12001_007',
 'SE_A12001_008']

In [167]:
# rename columns
education.columns = ['FIPS',
 'Geo_NAME',
 'Geo_QName',
 'Geo_STATE',
 'Geo_COUNTY',
 'Geo_TRACT',
 'Pop 25 yrs and over',
 'Less than HS',
 'HS Grad',
 'Some College',
 'Bachelors',
 'Masters',
 'Professional School',
 'Doctorate']

In [168]:
# reinspect data 
education.head()

,FIPS,Geo_NAME,Geo_QName,Geo_STATE,Geo_COUNTY,Geo_TRACT,Pop 25 yrs and over,Less than HS,HS Grad,Some College,Bachelors,Masters,Professional School,Doctorate
0,06037101110,Census Tract 1011.10,"Census Tract 1011.10, Los Angeles County, Cali...",00000000006,00000000037,101110,3085,524,765,1101,411,180,50,54
1,06037101122,Census Tract 1011.22,"Census Tract 1011.22, Los Angeles County, Cali...",00000000006,00000000037,101122,2597,168,749,888,463,248,13,68
2,06037101210,Census Tract 1012.10,"Census Tract 1012.10, Los Angeles County, Cali...",00000000006,00000000037,101210,4107,762,1185,1340,548,174,36,62
3,06037101220,Census Tract 1012.20,"Census Tract 1012.20, Los Angeles County, Cali...",00000000006,00000000037,101220,2484,515,700,769,347,129,0,24
4,06037101300,Census Tract 1013,"Census Tract 1013, Los Angeles County, California",00000000006,00000000037,101300,3446,362,949,1145,604,278,82,26